/* TODO Add site wide styles */
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover {
    cursor: pointer;
}

div {
    word-wrap: break-word;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}