/* TODO Add site wide styles */
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}