.recipe-list-wrapper {
    height: 100vh;
    width: 100%;
}

.search-container {
    height: 5%;
    width: 100%;
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}
.recipe-list-container {
    width: 100%;
    height: 100%;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    overflow-x: hidden;
}

.recipe-list-card {
    width: 352px;
    height: 417px;
    background-color: white;
    margin: 1rem 1rem;
    overflow-y: hidden;
}

.recipe-list-card-image {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.recipe-list-card-info {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recipe-list-card-name {
    color: rgb(30, 30, 30);
    font-weight: bold;
    font-size: 18px;
}

.recipe-list-card-link {

    text-decoration: none;
}


.single-recipe-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid rgb(219, 219, 200);
}

.single-recipe-header-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: rgb(49, 49, 49);
}

.single-recipe-header-name {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.single-recipe-header-author {
    font-size: 14px;
    padding-bottom: 0.5rem;
}

.single-recipe-buttons {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-evenly;
}

.single-recipe-edit-link {
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.single-recipe-edit {
    background-color: rgb(219, 219, 200);
    border: 1px solid rgb(219, 219, 200);
    border-radius: 3px;
    font-size: 14px;
    padding: 1px 5px;
}

.single-recipe-edit:hover {
    background-color: white;
    border: 1px solid rgb(219, 219, 200);
    box-shadow: 0px 0px 5px 3px rgb(219, 219, 200);
}

.single-recipe-delete {
    background-color: rgb(219, 219, 200);
    border: 1px solid rgb(219, 219, 200);
    border-radius: 3px;
    font-size: 14px;
}

.single-recipe-delete:hover {
    background-color: white;
    border: 1px solid rgb(219, 219, 200);
    box-shadow: 0px 0px 5px 3px rgb(219, 219, 200);
}

.single-recipe-header-right {
    width: 50%;
    height: 50%;
}

.single-recipe-header-image {
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
}

.single-recipe-middle {
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20%;
    margin-top: 2rem;
}

.single-recipe-middle-container{
    border-top: 2px solid rgb(219, 219, 200);
    width: 100%;
}

.single-recipe-times {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    justify-content: space-evenly;
    padding-top: 1rem;
}

.single-recipe-time {
    display: flex;
    flex-direction: row;
}

.single-recipe-description {
    padding-top: 1rem;
    font-size: 16px;
}

.single-recipe-ingredients-and-instructions {
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 20%;
    margin-top: 2rem;
}

.single-recipe-ingredients-header {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid rgb(219, 219, 200);
    padding-bottom: 1rem;
}

.single-recipe-servings {
    background-color: rgb(219, 219, 200);
    margin: 1rem 0;
    padding: 0.5rem 0.5rem;
    width: 73px;
}

.single-recipe-ingredients {
    padding-bottom: 1rem;
}

.single-recipe-instructions-header {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid rgb(219, 219, 200);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.single-recipe-instructions {
    padding-bottom: 2rem;
    font-size: 16px;
}

.single-recipe-instructions-step {
    padding-bottom: 1rem;
    font-weight: bold;
}

.save-recipe-container {
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.save-recipe-container:hover {
    cursor: pointer;
}

.save-recipe-icon {
    font-size: 20px;
    padding-right: 5px;
    color: rgb(49, 49, 49);
}
